.contactBanner {
    background: url(../media/Contact-us.jpg);
    height: 15.25rem;
    width: 100%;    
    background-position: top;
    background-repeat: no-repeat;
    
}


.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    padding: 1.875rem;

    form {
        width: 31.25rem;
        margin-bottom: 1.25rem;        
     
        button{
            background-color: $oText;
            color: $ligthText;
        }
        .form-check-input {
            background-color: $oText;
            border: $oText;
        }
    }
}

@media (max-width: 768px) {
    .contactBanner {
        display: none;
    }
    }