.contactBanner {
    @include flexJc;
    align-items: center;
    background: url(../media/banner_contacto.jpg);
    height: 15.25rem;
    background-color: rgba(88, 37, 0, 0.703);
    background-blend-mode: multiply;
    margin-bottom: 0.625rem;

    h1 {
        color: white;
        font-weight: 700;
        font-size: 26pt;
        text-shadow: 0px 0px black;
    }
}

.infoBox {
    background-color: $sideBarColor;
    height: 18.75rem;
    width: 18.75rem;
    padding: 1.875rem;
    margin-top: 3.125rem;

    .infoTitle {
        font-weight: 700;
        font-size: 13pt;

    }
}

.formTitle {
    font-weight: 700;
    font-size: 18pt;

}


.infoSubTitle {
    margin-bottom: -1px;
}



.formName,
.formEmail,
.formText {
    width: 100%;
    height: 2.5rem;
    padding: 0.625rem;
}

.formText {
    height: 12.5rem;
}

.formBtn {
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
    width: 12.5rem;
    height: 3.125rem;
    border: none;
    background-color: $headerColor;
    color: $ligthText;
    transition: all 1s;

    &:hover {
        background-color: $oText;
    }

}

.storeCardsBox {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    margin-bottom: 2.5rem;

    .storeCardNewYork,
    .storeCardLondres,
    .storeCardOzlo,
    .storeCardEstocolmo {
        @include flexJc;
        align-items: center;
        width: 15.625rem;
        height: 15.625rem;
        overflow: hidden;
        border-radius: 0.5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 1.875rem;

        &:hover>div {

            transform: translateY(0rem);

        }

    }


    .storeInfoBox {
        @include flexAl;
        justify-content: center;
        text-align: center;
        width: 15.625rem;
        height: 15.625rem;
        overflow: hidden;
        background-color: rgba(255, 77, 0, 0.805);
        transform: translateY(15.625rem);
        transition: all 1s;

        h3,
        p {
            color: #ffff;
            font-weight: 500;
            margin-top: 10px;
        }

        p {
            font-size: 10pt
        }

        ;



    }


    .storeCardNewYork {
        background: url(../media/newyork.jpg);


    }

    .storeCardLondres {
        background: url(../media/london.jpg);


    }

    .storeCardOzlo {
        background: url(../media/ozlo.jpg);

    }

    .storeCardEstocolmo {
        background: url(../media/stocolmo.jpg);

    }


}



// Media queries




@media (max-width: 768px) {
    .infoSubTitle {
        margin-bottom: 0.75rem;
    }

    .storeCardsBox {
        display: none;
    }

    .formName,
    .formEmail,
    .formText {
        font-size: 9pt;
    }

}