header {
    height: 3.75rem;
    width: 100%;
    background-color: $headerColor;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(2px);
    z-index: 3;

    .headerBox {
        display: flex;
        justify-content: space-around;

        .headerLogo {
            height: 2.5rem;
            margin-top: 0.5625rem;

        }

        ul {
            display: block;
            list-style: none;
            margin: 1.0625rem 0px 0px 0px;
            text-decoration: none;

            li {
                display: inline-block;
                margin-left: 0.625rem;
                transition: all 1s;

                &:hover {
                    transform: scale(1.15);

                }

                a {
                    color: $ligthText;
                    font-size: 14pt;
                    transition: 1s;


                    &:link,
                    :visited,
                    :active {
                        color: $ligthText;
                    }

                    &:hover {
                        color: $oText;
                    }


                }

            }
        }


        .headerIconBox {
            @include flexJc;
            justify-content: center;
            margin-top: 10px;

          

            .headerFavIcon,
            .headerBagIcon,
            .headerMenuIconMobile {
                margin-left: 10px;
                width: 1.4375rem;
                transition: all 1s;

                &:hover {
                    transform: scale(1.2);
                    
                }


            }
          
            .headerMenuIconMobile {
                display: none;
                margin-bottom: 5px;
               
                
                
            }



        }

    }

}

.headerMobileBox {
    display: none;
    justify-content: center;
    margin-top: 0.625rem;

    .mobileSearchIcon{
        width: 1.7rem;
        height:1.7rem ;
        margin-left: 10px;
        margin-top: 2px;
    }

    .mobileFilterIcon {
        width: 1.5625rem;
        margin-left: 0.625rem;
        
    }

    .mobileSearchBar {
        height: 1.875rem;
        width: 62%;
        border-radius: 0.4375rem;
        padding-left: 0.9375rem;
        border: none;
        font-family: 'poppins';
    }

}


@keyframes menuMobil {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
.menuMobile {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(209, 94, 0);
    animation-name: menuMobil;
    animation-duration: 1s;
    
    .boxMenuMobile{
        width: 95%;
        height: 95%;
        @include flexAl;
        justify-content: center;
        

        .textMenuMobile{
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: baseline;
             margin-bottom: 50px;
            
            .closeMobileMenuBtn{
                width: 30px;
                margin-right: 20px;
                              
                
                     }
        }

        .navMenuMobile{
            text-align: center;
            margin-bottom: 70px;
            


            @keyframes menuMobilLogo {
                from {transform: rotate(0deg);}
                to {transform: rotate(360deg)}
              }
            .menuMobileLogo{
                width: 50px;
                margin-bottom: 20px;
                animation-name: menuMobilLogo;
                animation-duration: 30s;
                animation-timing-function:linear;
                animation-iteration-count: infinite;
            }
            
            h2{
                color: white;
                font-size: 25pt;
                font-weight: 700;
            }
            .socialIcon{
                margin-top: 30px;
                margin-left: 10px;
                width: 40px;
            }

        }
    }

    }


.menuMobileC {
    @include flexJc;
    align-items: center;
}


// Media queries

@media (max-width: 768px) {
    body header {
        height: 6.75rem;
    }

    body header .headerBox .headerLogo {
        height: 2rem;
        margin-top: 0.625rem;
    }

    body header .headerBox ul {
        display: none;
    }

    body header .headerBox .headerIconBox .headerMenuIconMobile {
        display:block;
                       

    }

    body .headerMobileBox {
        display: flex;
        

    }


    body header .headerBox .headerIconBox .headerFavIcon,
    body header .headerBox .headerIconBox .headerBagIcon,
    body header .headerBox .headerIconBox .headerMenuIconMobile {
        width: 1.5625rem;
        
    }

 
}