header {
    height: 3.75rem;
    width: 100%;
    background-color: $headerColor;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(2px);
    z-index: 3;

    .headerBox {
        display: flex;
        justify-content: space-around;

        .headerLogo {
            height: 2.5rem;
            margin-top: 0.5625rem;

        }

        ul {
            display: block;
            list-style: none;
            margin: 1.0625rem 0px 0px 0px;
            text-decoration: none;

            li {
                display: inline-block;
                margin-left: 0.625rem;
                transition: all 1s;

                &:hover {
                    transform: scale(1.15);

                }

                a {
                    color: $ligthText;
                    font-size: 14pt;
                    transition: 1s;


                    &:link,
                    :visited,
                    :active {
                        color: $ligthText;
                    }

                    &:hover {
                        color: $oText;
                    }


                }

            }
        }


        .headerIconBox {

            .headerFavIcon,
            .headerBagIcon,
            .headerMenuIconMobile {
                width: 1.4375rem;
                margin: 1rem 0.625rem 0rem 0rem;
                transition: all 1s;

                &:hover {
                    transform: scale(1.2);
                }


            }

            .headerMenuMobile {
                display: none;
                margin-bottom: 0.125rem;

            }

            .headerMenuIconMobile {
                display: none;
            }



        }

    }

}

.headerMobileBox {
    display: none;
    justify-content: center;
    margin-top: 0.625rem;

    .mobileFilterIcon {
        width: 1.5625rem;
        margin-left: 0.625rem;
    }

    .mobileSearchBar {
        height: 1.875rem;
        width: 65%;
        border-radius: 0.4375rem;
        padding-left: 0.9375rem;
        border: none;
        font-family: 'poppins';
    }

}

/* The animation code */
@keyframes menuMobil {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
.menuMobile {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: $menuMobilColor;
    backdrop-filter: blur(2px);
    animation-name: menuMobil;
    animation-duration: 1s;
    
    .boxMenuMobile{
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .textMenuMobile{
            display: flex;
            
            img{
                width: 40px;
                margin-bottom: 40px;
                margin-left: 300px;
                
            }
        }

        .navMenuMobile{
            text-align: center;

            img{
                width: 250px;
                margin-bottom: 40px;
            }
            
            h2{
                color: white;
                font-size: 25pt;
            }

        }
    }

    }


.menuMobileC {
    display: flex;

}


// Media queries

@media (max-width: 768px) {
    body header {
        height: 6.75rem;
    }

    body header .headerBox .headerLogo {
        height: 2rem;
        margin-top: 0.625rem;
    }

    body header .headerBox ul {
        display: none;
    }

    body header .headerBox .headerIconBox .headerMenuIconMobile {
        display: inline;

    }

    body .headerMobileBox {
        display: flex;

    }


    body header .headerBox .headerIconBox .headerFavIcon,
    body header .headerBox .headerIconBox .headerBagIcon,
    body header .headerBox .headerIconBox .headerMenuIconMobile {
        width: 1.5625rem;
        margin: 1rem 0.3125rem 0rem 0rem;
    }

}