@keyframes bannerAnimation {
    from {
        background-image: url("../media/banner.jpg");
    }

    to {
        background-image: url("../media/bannerindex.png")
    }
}


.mainBanner {
    background: url(../media/bannerindex.png);
    height: 31.25rem;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation-name: bannerAnimation;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.mobileBanner {
    display: none;
}

.mainLogosBox {
    height: 6.25rem;
    max-width: 100%;
    margin: 2.5rem auto;
    position: relative;
    overflow: hidden;
    font-size: 0;


    @keyframes moveSlideshow {
        100% {
            transform: translateX(-62.5rem);
        }
    }


    .logosSlider {
        height: 9.375rem;
        width: max-content;
        position: absolute;
        overflow-x: hidden;
        top: 0;
        left: 0;
        animation: moveSlideshow 15s linear infinite;

        &:hover{
            animation-play-state: paused;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            width: 12.5rem;
            margin: 0;
        }
    }

}

.mainCat {
    @include flexJc;
    margin-top:4rem;
    column-gap: 0.625rem;

}

.catMujeres,
.catHombres,
.catAccesorios {
    display: flex;
    align-items: flex-end;
    width: 18.75em;
    height: 21.875em;
    margin-bottom: 20px;
    background-color: rgba(255, 106, 0, 0.349);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.25em;
    color: #ffffff;
    transition: 1s;

    &:hover {
        background-color: rgba(94, 94, 94, 0.105);
        transform: scale(1.02);


    }

    .catFilterBox {
        display: flex;
        align-items: flex-end;
        padding: 0.625rem;
        width: 18.75rem;
        height: 9.375rem;
        background-color: rgba(150, 150, 150, 0.3);
        backdrop-filter: blur(3px);
    }

    .catContent {
        text-shadow: 0px 0px 2px rgb(17, 17, 17);

        .catTitle {
            font-weight: 600;
            line-height: 1.375rem;
        }

        .catSubTitle {
            font-weight: 400;
            line-height: 1.375rem;

        }

        .catTitle {
            margin-bottom: 0.3125rem;
        }

        button {
            width: 9.375rem;
            height: 2.5rem;
            margin-top: 0.625rem;
            background-color: $catBtnColor;
            border: none;
            font-size: 12pt;
            font-weight: 400;
            color: $ligthText;


        }
    }
}

.catMujeres {
    background-image: url(../media/catmujeres.jpg);
}

.catHombres {
    background-image: url(../media/cathombres.jpg);
}

.catAccesorios {
    background-image: url(../media/cataccesorios.jpg);
}



.featuredProducts {
    @include flexJc;
    column-gap: 0.625rem;


    .featuredProductBox {
        @include flexAl;
        min-width: 12rem;
        height: 20rem;
        background-color: $fProductsBgColor;
        border: 1px solid rgba(211, 211, 211, 0.513);
        border-radius: 0.75rem;
        padding: 0.625rem;
        transition: all 1s;
        margin-bottom: 2.5rem;

        &:hover {
            transform: scale(1.1);
        }


        .productImage {
            width: 11rem;
        }

        .producTitle {
            margin-bottom: -0.375rem;
            color: $oText;
        }

        .productCategory {
            font-size: 12pt;
            font-weight: 500;
            color: $darkText
        }

        .productPrice {
            font-size: 13pt;
            font-weight: 600;
            color: $darkText;

            span {
                text-decoration: line-through;
                color: $ofertText
            }
        }

        .productStars {
            width: 6.875rem;
        }

    }

}

.secondBanner {
    background: url(../media/banner4.jpg);
    height: 37.5rem;
    width: 100%;
    margin-top: 4.25rem;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}


// Media queries

@media (max-width: 768px) {

    @keyframes bannerAnimation {
        from {
            background-image: url("../media/banner.jpg");
        }

        to {
            background-image: url("../media/banner5.jpg")
        }
    }

    .mainBanner {
        background: url(../media/bannermobile.jpg);
        background-position: top center;
        animation-name: bannerAnimation;
        animation-duration: 16s;
        animation-delay: 2s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    .mainLogos img {
        width: 4.375rem;
    }

    .mainCat {
        @include flexAl;

    }

    .featuredProducts {
        @include flexAl;

    }

    .featuredProducts .featuredProductBox {
        align-items: center;
        width: 16rem;
        height: 20rem;
        margin-bottom: 1.25rem;


    }

    .secondBanner {
        display: none;
    
    }
}

@media (max-width: 340px) {
    .mainLogos img {
        width: 4rem;
    }
}