@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// font-family: 'Poppins', sans-serif;

// Declaracion de variables:
$headerColor: rgba(0, 0, 0, 0.864);
$footerColor: rgba(23, 23, 23, 0.957);
$fProductsBgColor:rgba(233, 233, 233, 0.304);
$productGaleryColor:#ffffff;
$sideBarColor:rgba(230, 224, 224, 0.787);
$sectionBgColor:#f1f1f1;
$catColor:#c4c4c480;
$ligthText: #e6e6e6;
$darkText: #373737;
$oText:#e96818;
$menuMobilColor:#e96818eb;
$catBtnColor:#e96818d1;
$ofertText: #606060;
$secondTextColor:#ffffff;


// Declaración de Mixin:

@mixin flexJc {
    display: flex;
    justify-content: center;
}

@mixin flexAl {
    display: flex;
    flex-direction: column;
    align-items: center;
}


// Estilos universales:

* {
    margin: 0;
    box-sizing: border-box;

    &:link,
    :visited {
        text-decoration: none;
        color: $ligthText;

    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

.sectionTitle {
    text-align: center;
    font-size: 21pt;
    font-weight: 800;
    margin-bottom: 40px;
    color: $oText
}

@import 'header', 'footer', 'index', 'sectionstyles', 'contacto', 'rapture';


// * poner h1
// pagina 404
// * paginas de redes_blank
// * boton de nav 
// * icono de fav
// subir wireframe
// * hacer pagina de contactos
// * mixin y extend
// breadcrumbs